.left-sidebar {
    margin-bottom: 80px;

    .vertical-slider  {
    overflow: hidden;
    border-radius: 4px;

    img {
        width: 100%;
    }
    }

    .user-login {
        position: relative;
    }

    .site-news {

       


        &-item {
            position: relative;
            clear: both;

            &:not(:last-child) {
                min-height: 86px;
                margin-bottom: 15px;
             }
            
            &__title {
                margin-bottom: 10px;

            }
        }

        &-item__image{
            float: left;
            width: 75px;
            margin: 0 10px 10px 0;
   }  }



}

.site-news-item__title a {
    
            
        overflow: hidden;
        display: -webkit-box;
           
       
}

.top-films {

    &__body {
        padding-right: 0;
        padding-left: 0;
    }

    &__list {
        margin-bottom: 0;
    }

    &__item {
        border-top: none;
        border-radius: 0;
        background-color: transparent;
        color: $color-primary !important;
        transition: none;
        margin-right: -1px;
        margin-left: -1px;
        padding-right: 55px;

        &:hover {
            color: $color-light !important;
            border-color: $color-accent;
            background-color: $color-accent !important;
        }
    }

    &__badge {
        position: absolute;
        top: 50%;
        right: 15px;
    }
}